@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.poppins-fornt {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1414px;
  margin: 0 auto;
}
img {
  width: 100%;
}
section,
footer {
  margin-top: 120px;
}
/* banner */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: rgb(255, 255, 255);
  text-align: start;
  border-radius: 10px;
  margin-top: 60px;
  padding-top: 40px;
}
.banner-content {
  flex: 1;
  margin: 0;
  margin-left: 150px;
}
.banner-img img {
  display: block;
}
.banner-content h4 {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 80px;
}

.banner-content p {
  font-size: 1rem;
  font-weight: 400;
  width: 60%;
}
.btn {
  padding: 15px 24px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 20px;
}
/* sports dtails */
.sports {
  display: flex;
  gap: 40px;
}
.sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: black;
  padding: 15px 24px;
  height: fit-content;
  border-radius: 10px;
}
.highlight {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  flex: 1;
}
.btn-match {
  font-size: 1.2rem;
  font-weight: 500;
}
.btn-match:nth-child(1),
.btn-match:nth-child(2) {
  background-color: white;
  color: black;
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.card img {
  border-radius: 10px 10px 0 0;
}
.card-detail {
  padding: 20px;
}
.card-detail h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 10px 0;
}
.btn-card {
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 24px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgb(22, 22, 22);
}
.icon {
  display: flex;
  gap: 30px;
}
.icon span {
  font-size: 1.1rem;
  font-weight: 400;
  color: rgba(22, 22, 22, 0.8);
}
footer {
  padding: 100px;
  background-color: black;
}
.footer-title h3 {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
}
.footer-link ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
}
.footer-link li a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
}
/* responsive */
@media screen and (max-width: 576px) {
  .banner {
    flex-direction: column;
    gap: 40px;
    margin-top: 0;
  }
  .banner-content {
    margin: 0;
    text-align: center;
  }
  .banner-content h4 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
  }
  .banner-content p {
    width: 100%;
  }
  .banner-img {
    margin: 0 30px;
  }
}
